.tableTextColor {
  color: #0E1C4C;
}
.optionTextColor button {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  letter-spacing: 0px;
  padding: 0px;
  color: #3649F9;
}
.optionTextColor button + button {
  margin-left: 20px;
}
.rowTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
