.tableMain {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0 16px;
  border-bottom: 1px solid #EBEFFD;
  height: calc(100vh - 235px);

  .flex-auto {
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

.moduleName {
  margin-top: 17px;
}

.tableHeader {
  background: #F5F7FF;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #0C296E;
}

.fileListBorder {
  border-bottom: 1px solid rgb(238, 238, 238);

  div {
    div {
      div {
        div {
          opacity: 1;
        }
      }
    }
  }
}

// 分页器样式
.filePagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 14px 0;
  /* 调整分页器的容器样式 */

  .ant-pagination {
    font-size: 14px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
  }

  /* 调整分页器普通页码按钮样式 */

  .ant-pagination-item {
    border: none; /* 移除边框 */
    background: none; /* 移除背景 */
    border-radius: 50%;
  }

  /* 当前页码的样式 */

  .ant-pagination-item-active {
    border: none; /* 移除边框 */
    background-color: #3649f9; /* 设置背景颜色 */
    color: #fff !important; /* 设置字体颜色，确保覆盖默认样式 */
  }

  /* 当前页码的数字样式 */

  .ant-pagination-item-active a {
    color: #fff !important; /* 设置字体颜色，确保覆盖默认样式 */
  }

  /* 鼠标悬浮在页码上时的样式 */

  .ant-pagination-item:hover,
  .ant-pagination-item a:hover {
    color: #8092A9; /* 设置悬浮时的字体颜色 */
    border-color: #1890ff; /* 设置悬浮时的边框颜色 */
  }

  /* 翻页按钮样式 */

  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    border: none; /* 移除边框 */
    background: none; /* 移除背景 */

    .ant-pagination-item-link {
      border-radius: 50%;
      border: 0.77px solid #EBEBF1;
      font-weight: bold;
    }
  }

  /* 跳转输入框样式 */

  .ant-pagination-options-quick-jumper input {
    border: 1px solid #d9d9d9; /* 设置边框 */
    border-radius: 2px; /* 设置边框圆角 */
  }

  /* 跳转按钮样式 */

  .ant-pagination-options-quick-jumper button {
    background-color: #1890ff; /* 设置背景颜色 */
    border-color: #1890ff; /* 设置边框颜色 */
    color: #fff; /* 设置字体颜色 */
  }

  /* 更改每页显示条数选择器样式 */

  .ant-pagination-options-size-changer .ant-select-selector {
    border: 1px solid #d9d9d9 !important; /* 设置边框，确保覆盖默认样式 */
  }

  /* 隐藏分页器底部边框线 */

  .ant-pagination::before {
    display: none;
  }

}
