.tableMain {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0 16px;
  border-bottom: 1px solid #EBEFFD;
}
.tableHeader {
  background: #F5F7FF;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #0C296E;
}
