.checkSpan {
  width: 14px;
  height: 14px;
}
.Checkbox > span:first-of-type {
  background-color: #fff;
  border: 1px solid #D3DEFF;
}
.Checkbox > input {
  left: -99999px;
}
.Checkbox input:checked + span svg {
  opacity: 1;
  border: 1px solid #3649F9;
  background-color: #3649F9;
  fill: #fff;
}
.Checkbox > input:disabled + span {
  cursor: not-allowed;
}
.Checkbox input:focus + span {
  outline: 1px solid #bbb;
}
